code {
	@apply rounded-sm m-0 bg-true-gray-200 px-1;
	word-break: break-all;
}

.dark code {
	@apply bg-true-gray-900;
}

div[class*='language-'] {
	color: white;

	@apply relative rounded-md overflow-x-auto bg-true-gray-100 my-2 bg-true-gray-900;
}

[class*='language-'] pre,
[class*='language-'] code {
	@apply bg-transparent;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	tab-size: 4;
	hyphens: none;
	font-size: 14px;
	line-height: 24px;
}

/* hide copy-button and lang */
[class*='language-'] button,
[class*='language-'] .lang {
	display: none;
}

/* Line numbers mode */
div[class*='language-'] {
	user-select: none;
	padding-left: 2.2rem;
}
[class*='language-'] pre {
	user-select: text;
	@apply relative m-0 overflow-x-visible;
	padding: 1.25rem 1.5rem;
}

[class*='language-'] code {
	@apply p-0;
}

/* Line highlighting */

.highlight-lines {
	@apply absolute top-0 bottom-0 left-0 w-full select-none overflow-hidden;
	padding: 1.25rem 0;
}

.highlight-lines .highlighted {
	background-color: rgba(0, 0, 0, 0.05);
}

.highlight-lines .highlighted {
	background-color: rgba(0, 0, 0, 0.3);
}

.line-numbers-wrapper {
	@apply absolute top-0 bottom-0 left-0 w-12 text-center opacity-50 border-r-1 border-true-gray-300;
	padding: 1.25rem 0;
}

.line-numbers-wrapper {
	@apply border-r-1 border-true-gray-700;
}

/**
   * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML.
   * Based on https://github.com/chriskempson/tomorrow-theme
   *
   * @author Rose Pritchard
   */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin,
.token.boolean,
.token.number {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.none {
	color: white;
}
