code {
	@apply rounded-sm m-0 bg-true-gray-100 p-1;
	font-size: 0.85em;
}
.dark code {
	@apply bg-true-gray-900;
}

div[class*='language-'] {
	@apply relative rounded-md overflow-x-auto bg-true-gray-100 my-2;
}

.dark div[class*='language-'] {
	@apply bg-true-gray-900;
}

[class*='language-'] pre,
[class*='language-'] code {
	@apply bg-transparent;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	tab-size: 4;
	hyphens: none;
	font-size: 14px;
	line-height: 24px;
}

/* Line numbers mode */
div[class*='language-'] {
	user-select: none;
	padding-left: 2.2rem;
}
[class*='language-'] pre {
	user-select: text;
	@apply relative m-0 overflow-x-auto;
	padding: 1.25rem 1.5rem;
}

[class*='language-'] code {
	@apply p-0;
}

/* Line highlighting */

.highlight-lines {
	@apply absolute top-0 bottom-0 left-0 w-full select-none overflow-hidden;
	padding: 1.25rem 0;
}

.highlight-lines .highlighted {
	background-color: rgba(0, 0, 0, 0.05);
}

.dark .highlight-lines .highlighted {
	background-color: rgba(0, 0, 0, 0.3);
}

.line-numbers-wrapper {
	@apply absolute top-0 bottom-0 left-0 w-12 text-center opacity-50 border-r-1 border-true-gray-300;
	padding: 1.25rem 0;
}

.dark .line-numbers-wrapper {
	@apply border-r-1 border-true-gray-700;
}

/**
   * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML.
   * Based on https://github.com/chriskempson/tomorrow-theme
   *
   * @author Rose Pritchard
   */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: rgb(121, 121, 121);
}

.dark .token.comment,
.dark .token.block-comment,
.dark .token.prolog,
.dark .token.doctype,
.dark .token.cdata {
	color: #999;
}

.token.punctuation {
	color: rgb(158, 158, 158);
}

.dark .token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #303030;
}

.dark .token.property,
.dark .token.class-name,
.dark .token.constant,
.dark .token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #99199b;
}

.dark .token.selector,
.dark .token.important,
.dark .token.atrule,
.dark .token.keyword,
.dark .token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #4b9e6b;
}

.dark .token.string,
.dark .token.char,
.dark .token.attr-value,
.dark .token.regex,
.dark .token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #069b98;
}

.dark .token.operator,
.dark .token.entity,
.dark .token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}
