/* Styling for markdown-it-container */

.custom-block {
  margin-block: 1em;
  border-left: 3px solid;
  padding: 0.5em 1.2em;
  overflow-x: auto;

  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.custom-block:has(+ .custom-block) {
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}
.custom-block + .custom-block {
  border-top-right-radius: 0;
  margin-top: 0;
}

.custom-block-title {
  font-weight: 600;
}

.custom-block.tip {
  border-color: #3eaf7c;
  background-color: #e9fff2;
  color: black;
}
.custom-block.warning {
  border-color: #e7c000;
  color: #4f4200;
  background-color: rgba(255, 229, 100, 0.3);
}
.custom-block.danger {
  border-color: #c63232;
  color: #4d0000;
  background-color: #ffe6e6;
}

.dark .custom-block.tip {
  background-color: rgba(149, 255, 232, 0.2);
  color: #ffffff;
}
.dark .custom-block.warning {
  background-color: rgba(255, 229, 100, 0.2);
  color: #ffffff;
}
.dark .custom-block.danger {
  background-color: rgba(216, 117, 117, 0.2);
  color: #ffffff;
}
