/* Global */

.dark body {
	@apply bg-true-gray-800 text-white;
}

.dark select {
	@apply bg-true-gray-800;
}

.dark .icon {
	fill: white;
}


.dark div.card {
	width: 48%;
	background-color: #333;
	padding: 20px;
	margin: 10px 8px;
	border: 1px solid #888;
	flex: 1 1 auto;
}

/* Tables */
.dark tbody,
.dark td,
.dark th {
	border-color: rgb(75, 76, 78);
}

.dark th {
	background-color: rgb(36, 37, 38);
}
.dark td {
	background-color: rgb(45, 46, 47);
}

.dark tr:nth-child(2n + 1) td {
	background-color: rgb(58, 59, 60);
}

.dark main a {
	@apply text-purple-500 underline;
}
