/* Global */

.dark body {
	@apply bg-true-gray-800 text-white;
}

.dark select {
	@apply bg-true-gray-800;
}

.dark .icon {
	fill: white;
}

.dark div.card {
	@apply p-6 bg-true-gray-900 rounded-lg border;
}

/* Tables */
.dark tbody,
.dark td,
.dark th {
	border-color: rgb(75, 76, 78);
}

.dark th {
	background-color: rgb(36, 37, 38);
}
.dark td {
	background-color: rgb(45, 46, 47);
}

.dark tr:nth-child(2n + 1) td {
	background-color: rgb(58, 59, 60);
}

.dark main a {
	@apply text-blue-500 hover:text-blue-700 focus:text-blue-700 no-underline hover:underline focus:underline;
}

.dark footer {
	background-color: rgb(48, 48, 48);
}


.dark .checkbox {
	background: rgb(121, 113, 113, 0.3);
}

.dark .checkbox-checked {
	background: rgb(204, 225, 250);
}
