/* Global */
.icon {
	fill: black;
}

div.card {
	@apply p-6 bg-white rounded-lg border;
}

body {
	@apply bg-true-gray-50 text-black;
}

/* Tables */
tbody,
th,
td {
	border-color: #656e73;
}

th {
	background-color: #a5f1b2;
}
td {
	background-color: #ddfbdd;
}

.float {
	@apply bg-true-gray-50 text-black border;
}
