/* Global */
.icon {
	fill: black;
}

body {
	@apply bg-true-gray-50 text-black;
}

/* Tables */
tbody,
th,
td {
	border-color: #656e73;
}

th {
	background-color: #a5f1b2;
}
td {
	background-color: #ddfbdd;
}
