/* Global */
.icon {
	fill: black;
}

div.card {
	width: 48%;
	background-color: #fff;
	padding: 20px;
	margin: 10px 8px;
	border: 1px solid #ddd;
	flex: 1 1 auto;
}

body {
	@apply bg-true-gray-50 text-black;
}

/* Tables */
tbody,
th,
td {
	border-color: #656e73;
}

th {
	background-color: #a5f1b2;
}
td {
	background-color: #ddfbdd;
}
