/* Table */

table {
	border-collapse: collapse;
}

table {
	display: block;
	width: auto !important;
	max-width: 100%;
	overflow-x: auto;
}

th,
td {
	border-style: solid;
	border-width: 1px;
	padding: 6px;
}
