.dark body {
	@apply bg-true-gray-800 text-white;
}
.dark select {
	@apply bg-true-gray-800;
}

.icon {
	fill: black;
}
.dark .icon {
	fill: white;
}

main img {
	max-width: 100%;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
