/* Table */

table {
	border-collapse: collapse;
}

table {
	@apply mt-4;
	display: block;
	width: auto !important;
	max-width: 100%;
	overflow-x: auto;
}

th,
td {
	border-style: solid;
	border-width: 1px;
	padding: 6px;
}

main img {
	max-width: 100%;
	display: inline-block;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

main a {
	word-break: break-word;
	@apply text-blue-700 hover:text-blue-500 focus:text-blue-500 hover:underline focus:underline;
}

p + p {
	margin-top: 1em;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
	margin-top: 1em !important;
	word-break:break-word;
}

h1 {
	@apply font-bold;
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-decoration-color: #d7d7d7;
}

h2 {
	@apply font-semibold;
	border-bottom: 2px solid #d7d7d7;
	padding-bottom: 4px;
}

.dark h1 {
	text-decoration-color: #686868;
}

.dark h2 {
	border-bottom: 2px solid #686868;
}

h3 {
	@apply font-semibold;
}

h4 {
	@apply font-semibold;
}

/* Lists */
li {
	margin-top: 6px;
}

:not(li) > ul {
	padding-top: 1em;
	padding-bottom: 1em;
	list-style: disc;
}

:not(li) > ol {
	padding-top: 1em;
	padding-bottom: 1em;
	list-style: decimal;
}

ul,
ol {
	padding-left: 1.5em;
	list-style-position: outside;
}

ul {
	list-style: circle;
}

ol {
	list-style: lower-alpha;
}

.label {
	@apply flex-initial px-1.2 py-0.2 uppercase inline-block;
	font-size: 0.66rem;
  letter-spacing: 0.02rem;
	line-height: 1rem;
	font-weight: 650;
  border-radius: 0.275rem;
}

.label.large {
  @apply rounded-md mb-2 mt-4 py-1 px-1.5 mr-2;
	font-size: 0.8rem;
}

.dark .green {
	@apply bg-green-800;
}

.green {
	@apply bg-green-300;
}

.dark .red {
	@apply bg-red-900;
}

.red {
	@apply bg-red-300;
}

.dark .orange {
	@apply bg-orange-800;
}

.orange {
	@apply bg-orange-300;
}

.dark .blue {
	@apply bg-blue-900;
}

.blue {
	@apply bg-blue-300;
}

.dark .yellow {
  @apply bg-yellow-400;
  color: #262626;
}

.yellow {
  @apply bg-yellow-300
}

.border-gray {
	@apply border-gray-200;
}

.dark .border-gray {
	@apply border-true-gray-600;
}

.float {
	text-align: center;
	position: fixed;
	height: 10.5em;
	width: 20em;
	bottom: 10px;
	right: 10px;
	border-radius: 6px;
	padding: 14px;
	z-index: 9999;
}

/** Inputs */
textarea {
	outline: none;
}