@use "reset";

@use "accentColors";
@use "article";
@use "code";
@use "container";
@use "frame";
@use "home";
@use "lists";
@use "table";
@use "variables";

:root {
  color: var(--text-color);
  background-color: var(--bg-color);
  scrollbar-color: var(--border-color) transparent;

  -webkit-text-size-adjust: 100%;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
  line-height: 1.5;
}

[href] {
  color: var(--accent-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  display: block;
}

option {
  background-color: var(--bg-color);
}

* {
  outline: none;

  &:focus-visible {
    outline: 2px solid;
  }
}
